#portada {
    padding-top: 10px;
    padding-bottom: 15px;
  }

  .card-body.a:hover {
    color: slategrey!important;
  }

  .card-body.a {
    color: black!important;
    text-decoration: underline!important;
    text-transform: capitalize!important;
  }

  .heading {
      background-color: #222;
      opacity: 0.8;
      padding: .5rem;
      color: white;
      margin-bottom: 8px; }

    .image-1 {
      width: 405px;
      margin-left: 50px; }

    .image-3 {
      width: 88.5%;
      margin-top: 10px;
      margin-left: 10px; }

    .image-4 {
      width: 88.5%;
      margin-top: 10px;
      margin-left: -17px; }

    .image-2 {
      width: 90%;
      margin-left: 10px;
      height: 327px; }

    .text-overlay-1 {
      display: flex;
      flex-direction: column;
      padding: 0px;
      margin-left: 50px; }

    .text-overlay-1-abc {
        display: flex;
        flex-direction: column;
        padding: 0px; }

    .text-overlay-2 {
      display: flex;
      flex-direction: column;
      padding: 0px;
      margin-left: 10px;
      margin-right: 55px; }

    .text-overlay-2-abc {
        display: flex;
        flex-direction: column;
        padding: 0px; }

    .text-overlay-3 {
      display: flex;
      flex-direction: column-reverse;
      padding: 0px;
      margin-left: 10px;
      margin-right: 27px;
      margin-bottom: -8px; }

    .text-overlay-3-abc {
        flex-direction: column-reverse;
        padding: 0px; }

    .text-overlay-4 {
      display: flex;
      flex-direction: column-reverse;
      padding: 0px;
      margin-left: -17px;
      margin-right: 52px;
      margin-bottom: -8px; }

    .text-overlay-4-abc {
        flex-direction: column-reverse;
        padding: 0px;}


    .no-gutter>[class^="col-"]{
      padding-left: 0;
      padding-right: 0;
    }

    .source {
      font-size: 0.7rem;
      margin-top: 5px;
    }


    @media (max-width: 1199.98px) {

    .image-1 {
      width: 90.4%;
    }

    .image-2 {
      width: 90.5%;
      height: 100%;
    }

    .image-4 {
      margin-left: -9px;
    }

    .text-overlay-2 {
      margin-right: 39px;
    }

    .text-overlay-2-abc {
        margin-right: 39px;
        width: 100%;
    }

    .text-overlay-3 {
      margin-right: 19px;
    }

    .text-overlay-3-abc {
        margin-right: 19px;
        width: 100%;
      }

    .text-overlay-4 {
      margin-left: -9px;
      margin-right: 38px;
    }

    .heading {
      font-size: medium;
    }

    }

    @media (min-width: 1199.99px) {

    .image-1 {
      width: 90.6%;
      margin-left: 54px;
    }

    .image-2 {
      width: 90.95%;
      height: 100%;
    }

    .image-3 {
      width: 89.5%;
    }

    .image-4 {
      width: 89.5%;
    }

    .image-4 {
      margin-left: -12px;
    }

    .text-overlay-1 {
      margin-left: 54px;
    }

    .text-overlay-2 {
      margin-right: 45px;
    }

    .text-overlay-3 {
      margin-right: 22px;
    }

    .text-overlay-4 {
      margin-left: -12px;
      margin-right: 47px;
    }



    }

    @media (max-width: 991px) {

    .text-overlay-1 {
      margin-left: 0px;
    }

    .text-overlay-2 {
      margin-right: 0px;
      margin-left: auto;
    }

    .text-overlay-3 {
      margin-right: 0px;
      margin-left: auto;
    }

    .text-overlay-4 {
      margin-left: 0px;
      margin-right: auto;
    }

    }

    @media (max-width: 767px) {

        .heading {
      font-size: smaller;
    }

    }


    @media (max-width: 575px) {

        .heading {
      font-size: large;
    }

    .text-overlay-1 {
     flex-direction: column-reverse;
     margin-bottom: -8px;
      }

    .text-overlay-2 {
    flex-direction: column-reverse;
    margin-bottom: -8px;
    }

    }
