.segment-image {
    max-width: 91.74%!important;
    margin-left: auto;
    margin-right: auto;
}

.item-image-title {
    height: 58px;
    overflow: auto;
    padding-top: "2px";
}

@media (max-width: 1199.98px) {

    .item-image-title {
        height: 77.36px!important;
    }

    .segment-image {
        max-width: 100%!important;
    }
}

@media (max-width: 991px) {

    .item-image-title {
        height: 57.66px!important;
    }
}

@media (max-width: 767px) {

    .item-image-title {
        margin-top: 0px!important;
        margin-bottom: 0px!important;
        height: 39px!important;
    }

    .segment-image {
        max-width: 90%!important;
    }
}


